.leaderboard{
    margin-left: 5vw;
    
}

.userList {

    margin-bottom:5vw;
}

.centre-this{
    text-align:center;
}

.name {
    font-size: 1.5vw;
    font-weight:bold;
    line-height: 2vw;
    list-style-type:none;
    
}

.request {
    font-size: 1vw;
    font-weight:normal;
}

.paginationButton {
    padding:1vw;

}

.spaceButton {
    padding:1vw;
}