
.searchbar {
    margin-bottom: 20px;
}

.list-group-container {
    margin: 20px auto;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-content: flex-start; */
}

.request-card {
    width: 10vw;
    min-width: 200px;
    height: 150px;
    display: inline-block;
    margin: 3vh 1vw;
    padding: 15px;
}

.smallCaps {
    font-variant-caps: all-small-caps;
}

.card-title {
    text-align: center;
    margin-bottom: 5px;
}

.status { 
    display: inline;
    font-size: 12pt;
    font-weight: bold;
}

.Open {
    color: rgb(75, 184, 61);
}

.Closed {
    color: rgb(224, 95, 70);
}

.Pending {
    color: rgb(217, 181, 39)
}

form.request-form {
    display: inline-block;
    padding: 30px;
}

.rewards-table-container {
    width: 50vw;
    min-width: 500px;
    margin: 3vh 3vw ;
}